<style>

/*
Sparrow, Menu Style Sheet
© Copyright 2007, Braydon Fuller
http://braydon.com

Sparrow is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Sparrow is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

ul {
    list-style:none;
}

#view_mode {
   padding:2px;
}

.view_mode_current {
   background-color:orange;
   color:#fff;
}

#object_mode {
   padding:2px;
}

.object_mode_current {
   background-color:red;
   color:#fff;
}

.cancel_no {
   display:none;
}

#overlay {
    filter:alpha(opacity=30);
    -moz-opacity:.30;
    opacity:.30;
    background-color:#000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 99;
}

#commands {
    position:absolute;
    font-family:Arial;
    z-index:100;
    font-size:12px;
}

#center {
    cursor:move;
    width:15px;
    height:15px;
    position:absolute;
    background-color:#555;
    padding:4px;
    color:#fff;
    top:-22px;
    left:-15px;
}

#cancel {
    width:15px;
    height:15px;
    position:absolute;
    background-color:#555;
    padding:4px;
    color:#fff;
    top:32px;
    left:-40px;
}


#commands .hide{
    visibility:hidden;
}

#commands ul {
    text-align:left;
    position:absolute;
    margin-left:93px;
    top:0px;
}

#commands .left {
    position:absolute; 
    left:-150px;
}

#commands .left ul {
    text-align:right;
    position:absolute;
    margin-left:-170px;
    top:0px;
}

.nouns ul {
    width:98px;
}

.nouns li .command {
    background-color:#555;
    color:#fff;
    padding:14px;
    margin-top:2px;
    width:100%;
}  

.nouns li .current{
    background-color:#ffffff;
    border:solid 1px orange;
    color:#000000;
}

.verbs li {
    margin-top:32px;
}

.verbs li .command {
    background-color:#555;
    color:#fff;
    padding:14px;
    width:100%;
}

.verbs li .current{
    border:solid 1px red;
    background-color:#ffffff;
    color:#000000;
}

.verbs #li-delete {
    position:absolute;
    top:200px;
    left:-42px;
}

.verbs #li-insert {
    position:absolute;
    top:-95px;
    left:-40px;
}

.verbs #li-insert #li-object {
    position:absolute;
    top:-150px;
    left:-10px;
}

.verbs #li-insert #li-object li {
    position:absolute;
    top:-30px;
    left:10px;
}

.verbs #li-insert #li-imagenew { 
    position:absolute;
    top:-270px;
    left:-10px;
}

.verbs #li-insert #li-imagenew li {
    position:absolute;
    top:-30px;
    left:10px;
}

.verbs #li-insert #li-imageset { 
    position:absolute;
    top:-220px;
    left:-10px;
}

.verbs #li-insert #li-imageset li {
    position:absolute;
    top:-30px;
    left:10px;
}

.verbs #li-insert #li-section { 
    position:absolute;
    top:-100px;
    left:-10px;
}

.verbs #li-insert #li-section li {
    position:absolute;
    top:-30px;
    left:10px;
}

.verbs #li-insert #li-post { 
    position:absolute;
    top:-50px;
    left:-10px;
}

.verbs #li-insert #li-post li {
    position:absolute;
    top:-30px;
    left:10px;
}


.verbs #li-insert #li-image {
    position:absolute;
    top:-150px;
    left:-60px;
}

.verbs #li-insert #li-image li {
    position:absolute;
    top:-60px;
    left:10px;
}

.verbs #li-edit {
    position:absolute;
    top:-40px;
    left:20px;
}

.verbs #ul-edit {
    position:absolute;
    top:-40px;
    left:-70px;
}

.verbs #li-cancel {
    position:absolute;
    top:-40px;
    left:-45px;
}

</style>