html{height:110% }
img{ border:0;margin:0;padding:0; }
img a:link{text-decoration:none;}
img a:visited{text-decoration:none;}
img a:active{text-decoration:none;}
img a:hover{text-decoration:none;}
#login{display:none;}
.sortable{ position:relative;!important}
.container{min-height:100px;min-width:100px;}
.highlight{font-size:1.3em;border-top:dotted 1px orange;border-bottom:dotted 1px orange;}
body{margin:0px;}
