#from sparrow.objects import object_children, get_section, sort_by_order, get_sibling, get_parent, resize_image, get_image, read_html

## Image Resizing Settings
#set $img_settings = {"dict":"gallery-small", "width":"244x", "crop":"244x320+0+0"}
#set $intro_img_settings = {"dict":"intro-large", "width":"488x","crop":"488x610+0+0"}


## Sort and Select the Objects
#set $objects = sort_by_order($object.oid,$objects)
#set $start = True
#try
    #set $oid = $kwargs["oid"]
#except
    #set $oid = False
#end try
#if $oid
    #set $size = 8
    #set $_objects = get_section($oid,$objects,$size)
    #set $start = False
#end if

#if $start
    <div class="nullpage">
      <div id="$object.oid" class="chapter intro black">
	<div class="title">$object.name[0].name.upper()</div>
	<p>
	#if $object.html
	#set $html = read_html($object.html[0].src)
	$html
	#else
	no text
	#end if
	</p>
      </div>
    </div>
    <div id="$object.oid">

    #if $object.image
        #silent resize_image($object.oid, $intro_img_settings)
        #set $image = get_image($object.oid, $intro_img_settings["dict"])
        <div class="apage page1 white">
           <img src="$image.src"/>
        </div>
        #else
        <div class="nullpage">
        #if $object.name[0].name
           $object.name[0].name
        #else
           $object.oid
        #end if
    </div>
    #end if
    #set $parent = get_parent($objects[0].oid)
    #set $next = get_sibling($objects[0].oid, 1)
    #if $next == False
	#set $next = get_sibling($parent.oid, 1)
    #end if
    #set $back = get_sibling($objects[0].oid, -1)
    #if $back == False
	#set $back = get_sibling($parent.oid, -1)

    #end if

    #if $next
        <a href="?oid=$next.oid" id="next">Next</a>
        <script>
          jQuery("#next").css({display:"none"});
          jQuery(".page1").mouseover(function(){jQuery("#next").css({display:"block"})});
          jQuery(".page1").mouseout(function(){jQuery("#next").css({display:"none"})});
          jQuery("#next").mouseover(function(){jQuery("#next").css({display:"block"})});
        </script>
    #end if
    </div>
#else

#if $_objects
    <div id="$object.oid!">
    #set $p = 0
    #for $object in $_objects
    #if $p >= 2 and $p < 4 
        #set $this_class = "page1"
    #elif $p >= 6
	#set $this_class = "page1"
    #else
        #set $this_class = "page0"				    
    #end if
    #set $p = $p+1
    #if $object.image
    #silent resize_image($object.oid, $img_settings)
    #set $image = get_image($object.oid, $img_settings["dict"])


    <div id="$object.oid" class="nullpage $this_class eight sortable handle">
      <img src="$image.src"/>
    </div>
    
    #else
    <div id="$object.oid" class="nullpage $this_class eight sortable handle">
    </div>

    #end if
    #end for

    <br/>
    #set $back = get_sibling($_objects[0].oid, -1)
    #if $back == False
        #set $back = get_parent($_objects[0].oid)
        #try
            #set $back_url = $back.name[0].uri
        #except
            #set $back_url = False
        #end try
    #else
        #set $back_url = "?oid="+str($back.oid)
    #end if
    #if $back
        <a href="$back_url" id="back">Back</a>
	<script>
	  jQuery("#back").css({display:"none"});
	  jQuery(".page0").mouseover(function(){jQuery("#back").css({display:"block"})});
	  jQuery(".page0").mouseout(function(){jQuery("#back").css({display:"none"})});
	  jQuery("#back").mouseover(function(){jQuery("#back").css({display:"block"})});
	</script>
    #end if

    #set $next = get_sibling($_objects[-1].oid, 1)
    #if $next == False
	#set $parent = get_parent($_objects[-1].oid)
        #set $next = get_sibling($parent.oid, 1)
	#try
            #set $next_url = $next.name[0].uri
        #except
	    #set $next_url = False
	#end try
    #else
        #set $next_url = "?oid="+str($next.oid)
    #end if
    
    #if $next_url
        <a href="$next_url" id="next">Next</a>
	<script>
	  jQuery("#next").css({display:"none"});
	  jQuery(".page1").mouseover(function(){jQuery("#next").css({display:"block"})});
	  jQuery(".page1").mouseout(function(){jQuery("#next").css({display:"none"})});
	  jQuery("#next").mouseover(function(){jQuery("#next").css({display:"block"})});
	</script>
    #end if

    </div>


    <div class="folio">
    #set $parent = get_parent($object.oid)
    #set $pp = get_parent($parent.oid)
    #set $index_url = "%s?index=true&oid=%s" % ($pp.name[0].uri, parent.oid)
    #set $objects = object_children($parent.oid)
    #set $total = len($objects)
    #if $object.order[0].order < 10
        0$object.order[0].order
    #else
        $object.order[0].order
    #end if
    / $total

    </div>
    <div class="folio-title">

    #if $parent.name
        <a href="$index_url">$parent.name[0].name.upper()</a>
    #end if
    </div>
    <div class="folio-set">
	<a href="$index_url">VIEW SET</a>
    </div>



#else  
    <div id="$object.oid">
        Please insert objects with images into object:
        #if $object.name
            $object.name[0].name
        #else
            $object.oid
        #end if
    </div>
#end if
#end if


